/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
.bodyContainer{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(219,230,229,1) 24%, rgba(171,196,194,1) 100%);
    width: 100;
    height: 100vh;
    background-repeat: no-repeat;    
}
.header{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    background-color:  rgb(154, 182, 180);
}
.headerText{
    color: #f1fffe;  
    text-align: center;
    width: 40vh;
}
.Projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Projects h2{
    color: #5e8684; 
    padding: 4vh 4vh;
    margin-top: 4vh;
}
.cards{
    display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 9vh;
        justify-content: center;
        /* padding-top: 3vh; */
}
.phoneNav{
    display: none;
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bodyContainer{
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(219,230,229,1) 24%, rgba(171,196,194,1) 100%);
        width: 100;
        height: 100vh;
        background-repeat: no-repeat;    
    }
    .header{
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-items: center;
        background-color:  rgb(154, 182, 180);
    }
    .headerText{
        color: #f1fffe;  
        text-align: center;
        width: 40vh;
    }
    
    .Projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Projects h2{
        color: #5e8684; 
        padding: 4vh 4vh;
    }
    .cards{
        display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 9vh;
            justify-content: center;
            /* padding-top: 3vh; */
    }
    .fa-1x {
        font-size: 1.5rem;
      }
      .navbar-toggler.toggler-example {
        cursor: pointer;
      }
      .dark-blue-text {
        color: #0A38F5;
      }
      .dark-pink-text {
        color: #AC003A;
      }
      .dark-amber-text {
        color: #ff6f00;
      }
      .dark-teal-text {
        color: #004d40;
      }
      span{
        color: white;
        border: none;
        background: none;
        outline: none;
      }
      .phoneNav{
        background-color: #5e8684;
      }
}
